<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


<div id="masthead">  
  <div class="container">
    <div class="row">

      <a href="/">
      <div class="col-md-2"> <!-- span 6 column out of the 12 -->
	<img src="images/siteon0.png"  width='200' alt="breizh izel-vroiou" >
      </div>
      </a>
      <div class="col-md-10">
      <a href="/">
        <h2>Unvaniezh Bretoned Izelvroioù</h2>
          <p class="lead">Amicale des bretons des Pays-Bas</p>
      </a>

      </div>

    </div>  <!-- /row -->
  </div><!-- /container -->
<hr>
</div>
